*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Typewriter';
    src: url('fonts/MomTypewriter-Journal/MomsTypewriter.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
    }

@font-face {
    font-family: 'Rampart One';
    src: url('/fonts/Quintessential-RampartOne/RampartOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.container {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: "header" "content";
    height: auto;
    padding: 20px;
}

.header {
    grid-area: "header";
    font-family: 'Rampart One';
    font-size: 3em;
    text-decoration: wavy underline;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header > button {
    background-color: black;
    color: white;
    border-radius: 15px;
    font-size: 0.3em;
    padding: 10px;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
}

.card {
    display: grid;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    min-height: 10em;

    background-color: brown;
    background-image: url("images/book-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border: 1px solid red;
    border-radius: 15px;

    text-align: center;
    text-overflow: auto;
    font-size: clamp(1rem, 1.8vw, 2.5rem);
    font-family: 'Typewriter';
    color: white;
    text-decoration: underline;
    font-weight: 900;
}

.hidden {
    display: none !important;
}

.form {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-content {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close-btn:hover {
    color: #000;
}