*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

@font-face {
    font-family: 'Typewriter';
    src: url('fonts/MomTypewriter-Journal/MomsTypewriter.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: 'Rampart One';
    src: url('/fonts/Quintessential-RampartOne/RampartOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


.container {
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-area: "header" "content";
    height: auto;
    padding: 20px;
}

.header {
    grid-area: "header";
    font-family: 'Rampart One';
    font-size: 3em;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header>button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 0.3em;
    padding: 5px 10px;
    cursor: pointer;
}

.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto;
    grid-auto-flow: row;
    gap: 20px;
}

.card {
    display: grid;
    grid-template-rows: 3fr 2fr 1fr 0.5fr;
    grid-template-areas: "title" "author" "status" "remove-btn";
    align-items: center;
    padding-top: 10px;
    min-height: 20em;

    background-color: brown;
    background-image: url("images/book-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 15px;
    border: 1px solid black;

    text-align: center;
    text-overflow: auto;
    font-size: clamp(1rem, 1.8vw, 2.5rem);
    font-family: 'Typewriter';
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 900;
}

.card-title {
    grid-area: title;
    font-size: 2em;
}

.card-author {
    grid-area: author;
}

.card-status {
    grid-area: status;
    &:hover {
        background-color: white;
    }
}

.card-remove {
    grid-area: remove-btn;
    align-self: end;
    display: inline;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: transparent;
    font-size: 10px;

    &:hover {
        cursor: pointer;
        background-color: red;
        color: white;
    }
}
.unread {
    color: red;
    text-shadow: 1px 1px 1px white;
}

.reading {
    color: rgb(75, 75, 255);
    text-shadow: 1px 1px 1px white;
}

.finished {
    color: green;
    text-shadow: 1px 1px 1px white;
}

.hidden {
    display: none !important;
}

.form {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    inset: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.4);
}

.form-content {
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 300px;
    position: relative;
    gap: 10px;
}

.form-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
}

.close-btn {
    position: absolute;
    top: 20px;
    right: 15px;
    background: none;
    border: none;
    font-size: 28px;
    cursor: pointer;
    color: #333;
    padding: 0;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        color: red;
    }
}

.form-details {
    font-family: 'Typewriter';

    & .form-header {
        font-size: 2em;
    }
}

.constrols {
    justify-self: center;
    align-self: center;
}
.submit-btn {
    font-size: 1em;
    border-radius: 15px;
    border: none;
    padding: 5px;

    &:hover {
        color: red;
        text-shadow: 2px 2px 2px black;
        transform: translate(2px 2px 2px);
        border: 1px solid red;
    }
}

label {
    font-size: 25px;
}

input {
    height: 25px;
}

input:hover {
    border: 1px solid red;
}

.get-status {
    & p {
        font-size: 25px;
        margin-bottom: 20px;
    }
}
